.DS_Store
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
.env
.env.*
!.env.example

backend/storage/
backend/logs/
backend/core/logs/
backend/config/config.json

frontend/node_modules/
frontend/node_modules
frontend/dist/

.idea/
.vscode/
